<% provide(:title, 'All Scenes') %>
<h1>All Scenes</h1>
<h2>
<%= link_to "Create Scene", newscene_path,
                                class: "btn btn-large btn-primary" %>
</h2>

<ul class="scenes">
	<% @scenes.each do |scene| %>
   	<%= render scene %>
	  <%= link_to "Edit", edit_scene_path(scene) %>
	  <%= link_to "Delete", scene, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <br><br><br>
  <% end %>
</ul>
