<% provide(:title, 'All Characters') %>
<h1>All Characters</h1>
<h2>
<%= link_to "Create Character", newchar_path,
                                class: "btn btn-large btn-primary" %>
</h2>

<table width=100% style='vertical-align: top;'>
	<tr width=100% >
		<td width=50% style='vertical-align: top;' >
			<ul class="characters">
				<strong>Unused Characters :</strong>
				<% @characters.each do |character| %>
					<% if character.appearances.count == 0 %>
						<%= render 'character', character: character %>
					<% end %>
				<% end %>
			</ul>
		</td>

		<td width=50% style='vertical-align: top;'>
			<ul class="characters">
				<strong>Used Characters :</strong>
			  	<% @characters.each do |character| %>
					<% if character.appearances.any? %>
						<%= render 'character', character: character %>
					<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
