<li>
  Chapter n° <%= link_to chapter.number, chapter %>
   : 
  <%= chapter.title %>
  <br>
  <%= link_to "Edit", edit_chapter_path(chapter) %>
  <%= link_to "Delete", chapter, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>
