<% provide(:title, 'All Chapters') %>
<h1>All Chapters</h1>
<h2>
<%= link_to "Create Chapter", newchap_path,
                                class: "btn btn-large btn-primary" %>
</h2>

<ul class="chapters">
	<% @chapters.each do |chapter| %>
	  <%= render chapter %>
	  <%= link_to "Edit", edit_chapter_path(chapter) %>
	  <%= link_to "Delete", chapter, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	  <br><br>
	 <% end %>
</ul>
